{{ define "main" }}
  <section id="single-container">
    <article class="box-shadow-container">
      <h1 id="content-title">{{ .Title }}</h1>
      <div class="content-metadata">
        <div>
          <a class="content-metadata" href="{{ .Permalink }}">Permalink</a>
          <br />
          Last modifed at {{ .Lastmod }}
        </div>
        {{ partial "all-taxonomies.html" . }}
      </div>
      <div id="content">
        {{ .Content }}
      </div>
    </article>
    
  </section>
{{ end }}
