<section id="sidebar" class="box-shadow-container">
	<picture>
		{{ $profileWebp := resources.Get "images/profile.webp" | fingerprint }}
		<source srcset="{{ $profileWebp.RelPermalink }}" type="image/webp" />
		{{ $profilePng := resources.Get "images/profile.png" | fingerprint }}
		<source srcset="{{ $profilePng.RelPermalink }}" type="image/png" />
		<img id="profile-picture" src="{{ $profilePng.RelPermalink }}" loading="lazy" alt="Profile Picture" />
	</picture>
	<p>
		Aspiring sysadmin, Eagle Scout. Mostly Rust, sometimes Java. World Scout Jamboree 2019 Participant
	</p>
	<ul id="social" class="undecorated-list contact-list">
		<li>
			<div>sourcehut</div>
			<a class="consistent-link" href="https://git.sr.ht/~muirrum" target="_blank" rel="noopener noreferrer">~muirrum</a>
		</li>
		<li>
			<div>github</div>
			<a class="consistent-link" href="https://github.com/Muirrum" target="_blank" rel="noopener noreferrer">Muirrum</a>
		</li>
		<li>
			<div>mastodon</div>
			<a class="consistent-link" href="https://mastodon.technology" target="_blank" rel="noopener noreferrer">@devosmium@mastodon.technology</a>
		</li>
		<li>
			<div>email</div>
			<a class="consistent-link" href="mailto:owen@devosmium.xyz"><span class="email-component">owen</span><span class="email-component">@</span><span class="email-component">devosmium</span><span class="email-component">.</span><span class="email-component">xyz</span></a>
		</li>
	</ul>
	<script text="text/javascript">
		let isDarkModePreferred = isDarkModeEnabled();

		function switchTheme(theme) {
			if (theme === "dark") {
				document.documentElement.setAttribute("site-theme", "dark");
				window.localStorage.setItem("site-theme", "dark");
			} else {
				document.documentElement.setAttribute("site-theme", "light");
				window.localStorage.setItem("site-theme", "light");
			}
		}

		function overrideTheme(button) {
			if (!isDarkModePreferred) {
				isDarkModePreferred = true;
				this.innerHTML = "Light Theme";
				switchTheme("dark");
			} else {
				isDarkModePreferred = false;
				this.innerHTML = "Dark Theme";
				switchTheme("light");
			}
		}

		switchTheme(isDarkModePreferred ? "dark" : "light");

		const themeButton = document.createElement("button");
		themeButton.id = "theme-btn";
		themeButton.classList.add("btn");
		themeButton.innerHTML = isDarkModePreferred ? "Light Theme" : "Dark Theme";
		themeButton.onclick = overrideTheme;
		overrideTheme.bind(themeButton);

		document.getElementById("social").insertAdjacentElement("afterend", themeButton);
	</script>
	<div class="sidebar-section">
		<div class="sidebar-section-header">License</div>
		<p class="sidebar-paragraph">
			The content on this site is
			<a class="consistent-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">CC-BY-SA-4.0</a>.
			The code for this site is
			<a class="consistent-link" href="https://opensource.org/licenses/GPL-3.0" target="_blank" rel="noopener noreferrer">GPL-3.0</a>.
		</p>
	</div>
	<p class="smaller-text">
		This code and content for this site can be found on
		<a class="consistent-link" href="https://git.sr.ht/~muirrum/devosmium.xyz" target="_blank" rel="noopener noreferrer">SourceHut</a>.
	</p>
	<p class="smaller-text">
		Please file issues/bugs on the SourceHut
		<a class="consistent-link" href="https://todo.sr.ht/~muirrum/devosmium.xyz" target="_blank" rel="noopener noreferrer">todo tracker</a>
		issue tracker</a>, or send an email to my <a class="consistent-link" href="mailto:~muirrum/public-inbox@lists.sr.ht?Subject=Re: {{ .Title }}">
    public inbox</a>.
	</p>
</section>
