<section id="sidebar" class="box-shadow-container">
	<picture>
		{{ $profileWebp := resources.Get "images/profile.webp" | fingerprint }}
		<source srcset="{{ $profileWebp.RelPermalink }}" type="image/webp" />
		{{ $profilePng := resources.Get "images/profile.png" | fingerprint }}
		<source srcset="{{ $profilePng.RelPermalink }}" type="image/png" />
		<img id="profile-picture" src="{{ $profilePng.RelPermalink }}" loading="lazy" alt="Profile Picture" />
	</picture>
	<p>
		Connecting Scouting Discord Servers
	</p>
	<ul id="social" class="undecorated-list contact-list">
		<li>
			<div>github</div>
			<a class="consistent-link" href="https://github.com/Discord-Scout-Council" target="_blank" rel="noopener noreferrer">Discord-Scout-Council</a>
		</li>
	</ul>
	<div class="sidebar-section">
		<div class="sidebar-section-header">License</div>
		<p class="sidebar-paragraph">
			The content on this site is
			<a class="consistent-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">CC-BY-SA-4.0</a>.
			The code for this site is
			<a class="consistent-link" href="https://opensource.org/licenses/GPL-3.0" target="_blank" rel="noopener noreferrer">GPL-3.0</a>.
		</p>
	</div>
</section>
