<!DOCTYPE html>
<html lang="en-US">
{{ partial "head.html" . }}
<body lang="en">
	{{ partial "nav.html" }}
	<div id="page-container">
		<div id="content-container">
			<main id="main">
				<section>
					{{ partial "page_title.html" . }}
					<ul class="undecorated-list content-list">
						<li class="content-item box-shadow-container">
							<h1 class="summary-title">About</h2>

							<div class="summary">PLACEHOLDER</div>
						</li>
						<li class="content-item box-shadow-container">
							<h1 class="summary-title">DSC Bot</h2>

							<div class="summary">PLACEHOLDER</div>
						</li>
					</ul>
				</section>
			</main>

			{{ partial "sidebar.html" }}
		</div>
	</div>
</body>
</html>
